/* Write your CSS here */
* {
  font-family: 'Roboto';
  box-sizing: border-box;
}
.money-details-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: center;
}
.balance-list-container {
  background-color: #ecfccb;
  border: 1px solid #84cc16;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 10px;
  border-radius: 15px;
}
.image {
  height: 80px;
  width: 80px;
  margin: 25px;
}
.inside-list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.title {
  color: #475569;
  font-weight: 400;
  font-size: 20px;
  margin-top: 20px;
}
.para {
  color: #475569;
  font-weight: 400;
  font-size: 35px;
}
.income-list-container {
  background-color: #cffafe;
  border: 1px solid #06b6d4;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 10px;
  border-radius: 15px;
}
.expenses-list-container {
  background-color: #ede9fe;
  border: 1px solid #7c3aed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 450px;
  margin: 10px;
  border-radius: 15px;
}
@media (max-width: 767px) {
  .balance-list-container {
    margin: 10px;
  }
}
